[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
httpx = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-asyncio = "*"
requests = "*"
alembic = "*"

[requires]
python_version = "3.11"
